# Azure DevOps Pipeline for CI/CD
# This file is optional - use if you want automated deployments via Azure DevOps

trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: "ubuntu-latest"

variables:
  pythonVersion: "3.11"
  azureSubscription: "YOUR_AZURE_SUBSCRIPTION_CONNECTION"
  webAppName: "YOUR_WEB_APP_NAME"

stages:
  - stage: Build
    displayName: "Build Stage"
    jobs:
      - job: BuildJob
        displayName: "Build Application"
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: "$(pythonVersion)"
            displayName: "Use Python $(pythonVersion)"

          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: "Install Python dependencies"

          - task: UseNode@1
            inputs:
              version: "20.x"
            displayName: "Setup Node.js"

          - script: |
              npm install
              npm run client:build
            displayName: "Build Frontend"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true
            displayName: "Archive files"

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
            displayName: "Publish Artifact"

  - stage: Deploy
    displayName: "Deploy to Azure"
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployWeb
        displayName: "Deploy Web App"
        environment: "production"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: "$(azureSubscription)"
                    appName: "$(webAppName)"
                    package: "$(Pipeline.Workspace)/drop/$(Build.BuildId).zip"
                    deploymentMethod: "zipDeploy"
